[Unit]
Description=FunPayHub Control Bot v2 Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/funpayhub/source
ExecStart=/opt/funpayhub/venv/bin/python3 control_bot/main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
